<% layout('layouts/userBoilerplate') %>

  <div id="new-tab-form" action="/admin?_method=PUT" method="POST">
    <div class="row">
      <div class="col-auto me-auto">
        <button onclick="createTab()" type="button" class="btn btn-link btn-sm" id="add-tab-button">Add Tab</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-link btn-sm" onclick="save()" id="edit-tab-button">Save</button>
      </div>
    </div>

    <div class="accordion" id="accordionExample">

      <% for(let tab of accordion.tabs) { %>

        <div id="tab-<%= tab._id %>" class="accordion-item">

          <h2 class="accordion-header" id="heading<%= tab._id %>">
            <div class="d-flex align-items-center p-2">
              <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px;' viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd" />
              </svg>
              <label class="visually-hidden" for="edit-title<%= tab._id %>"></label>
              <input class="form-control form-control-lg me-3 border-0" id="edit-title<%= tab._id %>" type="text"
                name="tabs[<%= tab %>][title]" value="<%= tab.title %>" placeholder="Title 1">
              <button onclick="deleteById('<%- tab._id %>')"
                style="display: flex; justify-items: center; align-items:center; width: 25px; height: 25px; padding: 0; margin: 0; background-color: white; border: none">
                <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" strokeWidth={2}>
                  <path strokeLinecap="round" strokeLinejoin="round"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              </button>
              <button class="btn accordion-expand-icon collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse<%= tab._id %>" aria-expanded="false" aria-controls="collapse<%= tab._id %>">
                <svg width="20" height="20" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                  </path>
                </svg>
              </button>
            </div>
          </h2>

          <div id="collapse<%= tab._id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= tab._id %>"
            data-bs-parent="#accordionExample">

            <div id="sortable-section">

              <% var i=0; %>

                <% for (let section of tab.sections) { %>

                  <% i++; %>

                    <div style="display: flex; flex-direction: column;">

                      <div style="display: flex; justify-content: center; align-items: center;">
                        <h6 class="text-muted text-center" style="margin-bottom: -8px;">Section <%= i %>
                        </h6>
                        <button onclick="deleteSection(event)"
                          style="display: flex; justify-items: center; align-items:center; width: 20px; height: 20px; padding: 0; margin: 0; margin-top: 8px; margin-left: 8px; background-color: white; border: none">
                          <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" strokeWidth={2}>
                            <path strokeLinecap="round" strokeLinejoin="round"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                          </svg>
                        </button>
                      </div>

                      <div id="accordion-body-sortable"
                        style="display: flex; flex-direction: row; padding-left: 8px; padding-right: 48px; align-items: center;">

                        <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                          style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px;'
                          viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd" />
                        </svg>

                        <div class="accordion-body" style="width: 100%; padding: 8px 8px 20px 8px;">

                          <% for (let item of section) { %>

                            <% if(item.type=='image' && item.name !='' && item.src !='' ) { %>
                              <div id="image" style="display: flex; flex-direction: row; align-items: center;">

                                <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                                  style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px; margin-right: 14px;'
                                  viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd"
                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                    clip-rule="evenodd" />
                                </svg>

                                <a href="<%= item.url %> " target="_blank"><img class="img-fluid mb-3 displayed-img"
                                    src="<%= item.src %> " alt="palceholder">
                                </a>

                              </div>
                              <% } %>

                                <% if(item.type=='heading' ) { %>
                                  <div id="main-heading"
                                    style="display: flex; flex-direction: row; align-items: center;">
                                    <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                                      style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px; margin-right: 14px;'
                                      viewBox="0 0 20 20" fill="currentColor">
                                      <path fill-rule="evenodd"
                                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                        clip-rule="evenodd" />
                                    </svg>
                                    <input value="<%= item.text %>" class="form-control my-2 border-0"
                                      id="edit-tab1-section1-head1" type="text" name="tab[head111]"
                                      style="padding-left: 8px; font-size: 20px; font-weight: 700;"
                                      placeholder="Heading">
                                    <button onclick="deleteElement(event)"
                                      style="display: flex; justify-items: center; align-items:center; width: 20px; height: 20px; padding: 0; margin: 0; margin-top: 8px; margin-left: 8px; background-color: white; border: none">
                                      <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                        <path strokeLinecap="round" strokeLinejoin="round"
                                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                      </svg>
                                    </button>
                                  </div>
                                  <% } %>

                                    <% if(item.type=='subheading' ) { %>
                                      <div id="sub-heading"
                                        style="display: flex; flex-direction: row; align-items: center;">
                                        <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                                          style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px; margin-right: 14px;'
                                          viewBox="0 0 20 20" fill="currentColor">
                                          <path fill-rule="evenodd"
                                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                            clip-rule="evenodd" />
                                        </svg>
                                        <input value="<%= item.text %>"
                                          class="form-control form-control-sm my-2 border-0"
                                          id="edit-tab1-section1-subhead1" type="text" name="tab[subhead111]"
                                          style="font-size: 16px; font-weight: 700;" placeholder="Subheading">
                                        <button onclick="deleteElement(event)"
                                          style="display: flex; justify-items: center; align-items:center; width: 20px; height: 20px; padding: 0; margin: 0; margin-top: 8px; margin-left: 8px; background-color: white; border: none">
                                          <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                            <path strokeLinecap="round" strokeLinejoin="round"
                                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                          </svg>
                                        </button>
                                      </div>
                                      <% } %>

                                        <% if(item.type=='information' ) { %>
                                          <div id="information"
                                            style="display: flex; flex-direction: row; align-items: center;">
                                            <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                                              style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px; margin-right: 14px;'
                                              viewBox="0 0 20 20" fill="currentColor">
                                              <path fill-rule="evenodd"
                                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                                clip-rule="evenodd" />
                                            </svg>
                                            <textarea class="form-control form-control-sm my-2 border-0"
                                              id="edit-tab1-section1-information1" type="text"
                                              name="tab[information111]"
                                              placeholder="This would be good place to add a description."><%= item.text %></textarea>
                                            <button onclick="deleteElement(event)"
                                              style="display: flex; justify-items: center; align-items:center; width: 20px; height: 20px; padding: 0; margin: 0; margin-top: 8px; margin-left: 8px; background-color: white; border: none">
                                              <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
                                                <path strokeLinecap="round" strokeLinejoin="round"
                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                              </svg>
                                            </button>
                                          </div>
                                          <% } %>

                                            <% if(item.type=='button' ) { %>

                                              <div id="a-button"
                                                style="display: flex; flex-direction: row; align-items: center; width: 100%;">
                                                <svg class="accordion-handle" xmlns="http://www.w3.org/2000/svg"
                                                  style='width: 20px; height: 20px; color: rgb(120,120,120); margin-left: 5px; margin-right: 26px;'
                                                  viewBox="0 0 20 20" fill="currentColor">
                                                  <path fill-rule="evenodd"
                                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                                    clip-rule="evenodd" />
                                                </svg>
                                                <div class="row" style="width: 100%; margin-left: 0px; ">
                                                  <div class="row border border-dark rounded my-2"
                                                    style="padding-left: 8px; padding-right: 0px;">
                                                    <div class="d-flex my-2" style="padding-left: 0px;">
                                                      <div class="flex-grow-0" style="margin-right: 4px;">
                                                        <input class="form-control form-control-sm border-0"
                                                          id="edit-tab1-section1-buttonText1" type="text"
                                                          name="tab[buttonText111]" placeholder="Button Name"
                                                          value="<%= item.text %>">
                                                      </div>
                                                      <div class="flex-grow-1">
                                                        <input
                                                          class="form-control form-control-sm border-0 border-start border border-1 border-white"
                                                          id="edit-tab1-section1-buttonURL1" type="text"
                                                          name="tab[buttonURL111]" placeholder="url"
                                                          value="<%= item.url %>">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <button onclick="deleteElement(event)"
                                                  style="display: flex; justify-items: center; align-items:center; width: 20px; height: 20px; padding: 0; margin: 0; margin-top: 8px; margin-left: 8px; background-color: white; border: none">
                                                  <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6"
                                                    fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                    strokeWidth={2}>
                                                    <path strokeLinecap="round" strokeLinejoin="round"
                                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                  </svg>
                                                </button>
                                              </div>
                                              <% } %>

                                                <% } %>

                        </div>


                      </div>


                    </div>
                    <% } %>

            </div>

          </div>

        </div>
        <% } %>

    </div>
  </div>

  <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
  <script>

    function removeAllChildNodes(parent) {
      while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
      }
    }

    function deleteById(id) {
      document.getElementById('tab-' + id).remove();
    }

    function deleteByRawId(id) {
      document.getElementById(id).remove();
    }

    function deleteSection(e) {
      console.log(e.target.closest('div').parentElement.remove());
    }

    function deleteElement(e) {
      e.target.closest('div').remove();
    }

    function save() {

      var tabs = []

      const accordion_items = document.querySelectorAll('.accordion-item');

      console.log(accordion_items);

      for (var item of accordion_items) {

        if (!item.id.includes('tab')) {

          //New item
          var tab = {
            title: '',
            sections: []
          }

          //Gets header text
          const header = item.querySelector('.accordion-header');
          const header_text = header.querySelector('input[type=text]');
          tab.title = header_text.value;

          //Get body
          var accordion_bodies = item.querySelectorAll('.accordion-body');

          if (accordion_bodies != null) {

            for (var accordion_body of accordion_bodies) {

              var section = [];

              for (var item of accordion_body.querySelector('div').querySelectorAll('div')) {

                if (item.id.includes('-image-')) {
                  if (item.querySelector('input').files.length != 0) {
                    section.push({
                      type: 'image',
                      filename: item.querySelector('input').files[0].name,
                      source: item.querySelector('input').value,
                      url: 'http://localhost:3000/' + item.querySelector('input').files[0].name,
                    })
                  }
                } else if (item.id.includes('-head-')) {
                  if (item.querySelector('input').value == '') continue;
                  section.push({
                    type: 'heading',
                    text: item.querySelector('input').value
                  })
                } else if (item.id.includes('-subhead-')) {
                  if (item.querySelector('input').value == '') continue;
                  section.push({
                    type: 'subheading',
                    text: item.querySelector('input').value
                  })
                } else if (item.id.includes('-information-')) {
                  if (item.querySelector('textarea').value == '') continue;
                  section.push({
                    type: 'information',
                    text: item.querySelector('textarea').value
                  })
                } else if (item.id.includes('-button-')) {
                  if (item.querySelectorAll('input')[0].value == '' && item.querySelectorAll('input')[1].value == '') continue;
                  section.push({
                    type: 'button',
                    text: item.querySelectorAll('input')[0].value,
                    url: item.querySelectorAll('input')[1].value
                  })
                }
              }

              if (section.length == 0) continue;

              tab.sections.push(section);

            }

          }

          if (tab.sections.length == 0 && tab.title == '') continue;

          tabs.push(tab);

        } else {
          //Old item

          var tab = {
            title: '',
            sections: []
          }

          //Gets header text
          const header = item.querySelector('.accordion-header');
          const header_text = header.querySelector('input[type=text]');
          tab.title = header_text.value;

          //Get body
          var accordion_bodies = item.querySelectorAll('.accordion-body');

          for (var accordion_body of accordion_bodies) {
            var section = []

            if (accordion_body != null) {

              for (var item of accordion_body.children) {
                if (item.id == 'image') {
                  if (item.querySelector('a').href.trim() == '') continue;
                  section.push({
                    type: 'image',
                    filename: '',
                    source: item.querySelector('img').src.trim(),
                    url: item.querySelector('a').href.trim(),
                  })
                } else if (item.id == 'main-heading') {
                  if (item.querySelector('input').value.trim() == '') continue;
                  section.push({
                    type: 'heading',
                    text: item.querySelector('input').value.trim()
                  })
                } else if (item.id == 'sub-heading') {
                  if (item.querySelector('input').value.trim() == '') continue;
                  section.push({
                    type: 'subheading',
                    text: item.querySelector('input').value.trim()
                  })
                } else if (item.id == 'information') {
                  if (item.querySelector('textarea').value.trim() == '') continue;
                  section.push({
                    type: 'information',
                    text: item.querySelector('textarea').value.trim()
                  })

                } else if (item.id == 'a-button') {
                  if (item.querySelectorAll('input')[0].value.trim() == '' && item.querySelectorAll('input')[1].value.trim() == '') continue;
                  section.push({
                    type: 'button',
                    url: item.querySelectorAll('input')[1].value.trim(),
                    text: item.querySelectorAll('input')[0].value.trim()
                  })
                }
              }

              tab.sections.push(section);
            }
          }

          tabs.push(tab);

        }

      }

      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.open("POST", '/admin');
      xmlhttp.onreadystatechange = function () { // Call a function when the state changes.
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          location.reload();
        }
      }
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.send(JSON.stringify(tabs));

    }

    var el = document.getElementById('accordionExample');
    new Sortable.create(el, {
      animation: 200,
      handle: '.accordion-handle',
      onEnd: (evt) => {
        console.log(evt.newIndex);
      },
    });

    var section = document.querySelectorAll('#sortable-section');
    for (var item of section) {
      new Sortable.create(item, {
        animation: 200,
        ghostClass: 'blue-background-class',
        handle: '.accordion-handle',
        onEnd: (evt) => {
          console.log(evt.newIndex);
        },
      });
    }

    var body = document.querySelectorAll('.accordion-body');
    for (var item of body) {
      new Sortable.create(item, {
        animation: 200,
        ghostClass: 'blue-background-class',
        handle: '.accordion-handle',
        onEnd: (evt) => {
          console.log(evt.newIndex);
        },
      });
    }

  </script>

  <style>
    .blue-background-class {
      background-color: rgba(0, 140, 255, 0.05);
    }
  </style>

  <%- include('../partials/js/editScripts') %>